#menu1 a span {
display:none;
}
#menu1 a {
display:block;
width:190px;
height:50px;
background-image:url(../images/menu/m1_1.jpg);
background-repeat:no-repeat;
float:left;
}
#menu1 a:hover {
background-image:url(../images/menu/m1_2.jpg);
background-repeat:no-repeat;
} 


#menu2 a span {
display:none;
}
#menu2 a {
display:block;
width:160px;
height:50px;
background-image:url(../images/menu/m2_1.jpg);
background-repeat:no-repeat;
float:left;
}
#menu2 a:hover {
background-image:url(../images/menu/m2_2.jpg);
background-repeat:no-repeat;
} 


#menu3 a span {
display:none;
}
#menu3 a {
display:block;
width:170px;
height:50px;
background-image:url(../images/menu/m3_1.jpg);
background-repeat:no-repeat;
float:left;
}
#menu3 a:hover {
background-image:url(../images/menu/m3_2.jpg);
background-repeat:no-repeat;
} 


#menu4 a span {
display:none;
}
#menu4 a {
display:block;
width:160px;
height:50px;
background-image:url(../images/menu/m4_1.jpg);
background-repeat:no-repeat;
float:left;
}
#menu4 a:hover {
background-image:url(../images/menu/m4_2.jpg);
background-repeat:no-repeat;
} 


#menu5 a span {
display:none;
}
#menu5 a {
display:block;
width:220px;
height:50px;
background-image:url(../images/menu/m5_1.jpg);
background-repeat:no-repeat;
float:left;
}
#menu5 a:hover {
background-image:url(../images/menu/m5_2.jpg);
background-repeat:no-repeat;
} 

/* ========sideMENU======== */

#s_menu1 a span {
display:none;
}
#s_menu1 a {
display:block;
width:216px;
height:80px;
margin:2px 7px;
background-image:url(../images/menu/sm1_1.jpg);
background-repeat:no-repeat;
float:left;
}
#s_menu1 a:hover {
background-image:url(../images/menu/sm1_2.jpg);
background-repeat:no-repeat;
} 


#s_menu2 a span {
display:none;
}
#s_menu2 a {
display:block;
width:216px;
height:80px;
margin:2px 7px;
background-image:url(../images/menu/sm2_1.jpg);
background-repeat:no-repeat;
float:left;
}
#s_menu2 a:hover {
background-image:url(../images/menu/sm2_2.jpg);
background-repeat:no-repeat;
} 


#s_menu3 a span {
display:none;
}
#s_menu3 a {
display:block;
width:216px;
height:80px;
margin:2px 7px;
background-image:url(../images/menu/sm3_1.jpg);
background-repeat:no-repeat;
float:left;
}
#s_menu3 a:hover {
background-image:url(../images/menu/sm3_2.jpg);
background-repeat:no-repeat;
} 


#s_menu4 a span {
display:none;
}
#s_menu4 a {
display:block;
width:216px;
height:80px;
margin:2px 7px;
background-image:url(../images/menu/sm4_1.jpg);
background-repeat:no-repeat;
float:left;
}
#s_menu4 a:hover {
background-image:url(../images/menu/sm4_2.jpg);
background-repeat:no-repeat;
} 


#s_menu5 a span {
display:none;
}
#s_menu5 a {
display:block;
width:216px;
height:80px;
margin:2px 7px;
background-image:url(../images/menu/sm5_1.jpg);
background-repeat:no-repeat;
float:left;
}
#s_menu5 a:hover {
background-image:url(../images/menu/sm5_2.jpg);
background-repeat:no-repeat;
}

#r_banner {
	margin:5px;


}
	 